body{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contact{
  margin-top: 10%;
  margin-left: 40%;
  margin-bottom: 50px;
  margin-right: auto;
  align-items: center;
  text-align: center;
   width: 650px; 
}

#content{
  margin-left: 550px;
  margin-top: 50px;
  margin-right: auto;
  align-items: center;
  text-align: center;
  font-size: 25px;
  width: 800px;
}

#intro{
    /* width: 1600px; */
    margin-left: 10%;
    margin-right:10%;
    /* text-align: left; */
    font-size: 25px;
}

#profile-table{
    align-items: center;
    text-align: center;
    font-size: 25px;
}

/* #name{
    font-family: Georgia, 'Times New Roman', Times, serif; 
} */

#education{
    width: 800px;
    margin-left: 10%;
    font-size: 25px;
}

#cc{
    width: 800px;
    margin-left: 10%;
}


#skills{
    width: 800px;
    margin-left: 10%;
    margin-right:10%;
}

.techskill{
    width: 75px;
}

.techskill2{
    width: 115px;
}

#greeting-container {
  margin-top: 50px;
}


