body{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contact{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
   
}

#content{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
}

#myname{
    text-align: center;
}

#intro{
    margin-left: 10%;
    margin-right:10%;
    justify-content: left;
    
    font-size: 25px;
}

#profile-table{
    align-items: center;
    text-align: center;
    font-size: 25px;
}


#education{
    margin-left: 10%;
    font-size: 25px;
}

#cc{
    margin-left: 10%;
}

#skillsdiv{
    margin-left: 10%;
}

#skills{
    margin-left: 10%;
    margin-right:10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#projects{
    margin-left: 10%;
    margin-right: 10%;
}

.techskill{
    width: 75px;
}

.techskill2{
    width: 115px;
}

#greeting-container {
  margin-top: 50px;
}

.sk{
    padding: 10px;
    margin: 10px;
}

div div div div{
    display: none;
}
img:hover + div{
    display: block;
}
.myskill{
    text-align: center;
}

